<ion-content [fullscreen]="true">

  <ion-list class="card-main-div">
    <ion-list class="linear-ball">
      <ion-fab>
        <ion-fab-button class="gradient-fab">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-list>

    <ion-list class="sky-div">

      <ion-list class="linear-div">
        <!-- login-inputs -->
        <ion-list class="person-icon"><ion-icon name="person-circle-outline"></ion-icon></ion-list>

        <ion-list class="inputs-field">   
          <div class="name-input">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="email" placeholder="Email Address"> 
            <input type="password" placeholder="Password">
          </div>
        </ion-list>

        
        <ion-list class="login-btn">
          <ion-button size="large" color="light">Login</ion-button>
        </ion-list>

        <ion-list class="login-via">
          <ion-list><ion-icon name="logo-google"></ion-icon></ion-list>
          <ion-list><ion-icon name="logo-facebook"></ion-icon></ion-list>
        </ion-list>


      </ion-list>

    </ion-list>
  </ion-list>
  
</ion-content>
